<style>
h1 {
    font: bold 32px;
    color: #227ba2;
}
h2 {
    font-size: 16px;
}
details {
    font-style: italic;
    color: rgb(82, 35, 126);
}
.center-block {
    border: solid 4px #c9e9ff;
    text-align: center;
    padding: 15px 20px 30px;
    margin: 10%;
    font-family: sans-serif;
}
.foot {
    margin: 105px 0px 0px 0px;
}
</style>